
.button,
a.button {
    box-sizing: border-box;
    display: inline-block;

    &:not(disabled) {
        transition: all 0.15s ease-out;

        &:hover {
            cursor: pointer;
        }
    }

    &:focus {
        outline: none;
    }
}

.button.-primary,
a.button.-primary {
    padding: 10px 35px 12px 35px;
    font-size: 21px;
    font-weight: 600;
    color: black;
    background-color: white;
    border: 1px solid white; 

    &:link,
    &:visited {
        color: black;
    }

    &:not(disabled) {
        &:hover {
            color: rgba(0, 0, 0, 0.9);;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }

    &.-small {

    }

    &.-medium {

    }

    &.-large {

    }
}

.button.-secondary,
a.button.-secondary {
    padding: 8px 25px 8px 25px;
    font-size: 19px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.2);

    &:link,
    &:visited {
        color: rgba(255, 255, 255, 0.9);
    }

    &:not(disabled) {
        &:hover {
            color: white;
            background-color: rgba(0, 0, 0, 0.8);
            border-color: rgba(255, 255, 255, 0.4);
        }
    }

    &.-small {

    }

    &.-medium {

    }

    &.-large {
        padding: 10px 35px 12px 35px;
        font-size: 21px;
    }
}

.buttonx,
a.buttonx {
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    font-weight: 600;
    text-align: center;
    border: 1px solid var(--purple);
    border-radius: 3px;
    padding: 0 10px 0 10px;
    transition: all 0.1s ease-out;
    cursor: pointer;
    background: transparent;
    color: var(--purple);
    box-shadow: 0 10px 30px -10px rgba(#000000, .25);
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    &:link,
    &:visited {
        color: var(--purple);
    }

    span {
        // font-size: 16px;
        // margin-right: 6px;
        // vertical-align: middle;
    }

    &:hover {
        border-color: var(--purple);
        color: var(--purple);
        background-color: rgba(var(--purpleRGB), 0.025);
        box-shadow: 0 5px 10px -5px rgba(#000000, .25);
    }

    svg {
        fill: var(--red);
        stroke: var(--red);
        width: 15px;
        height: 15px;
        vertical-align: middle;
        transform: translateY(-1px);

        &:first-child {
            margin-right: 1px;
        }

        &:last-child {
            margin-left: 4px;
        }
    }

    &.--medium {
        font-size: 14px;
        line-height: 30px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 1px;

        svg {
            width: 18px;
            height: 18px;
            transform: translateY(-1px);
        }
    }

    &.--big {
        font-size: 16px;
        line-height: 34px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 2px;

        svg {
            width: 22px;
            height: 22px;
            transform: translateY(-1px);
        }
    }

    &.--filled {
        color: white;
        background-color: var(--purple);
        border-width: 0;

        &:hover {
            background-color: var(--blue);
        }

        &:disabled {
            color: rgba(white, 0.25);
            background-color: rgba(var(--purpleRGB), 0.5);
            cursor: default;
        }
    }
}