@use '@/assets/css/mixins.scss' as mixins;
@use '@/assets/css/variables.scss' as variables;

* html .clearfix                         { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/** Typography */
html {
    font-family: variables.$fonts;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.01rem;
    font-weight: 400;
    color: #404040;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;

    @include mixins.media-query(small) {
        font-size: 18px;
    }
}

body {
    background-color: var(--site-background);
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
    outline: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

p {
    margin: 0 0 0 0;
    color: rgba(var(--frontRGB), 0.75);

    a {
        color: var(--blue);
    }
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
}

b {
    font-weight: 500;
}

a,
a:link,
a:visited {
    color: black;
    text-decoration: none;

    &:hover {
        color: var(--blue);
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0 0;
    font-weight: 500;
    color: var(--front);
    font-family: variables.$fonts;

    a {
        text-decoration: none;
        color: #000000;

        &:hover {
            color: var(--blue);
        }

        &:visited {
            color: #000000;
        }
    }
}

h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 11px; }

@include mixins.media-query(huge) {
    h2 {
        font-size: 36px;
    }
}

a:link img {
    border: none;
}

button {
    appearance: none;
    background: none;
    border: none;
    padding: 0;

    &:hover {
        cursor: pointer;
    }
}
